/* line 39, sass/base.scss */
body {
  font-family: helvetica;
}

/* line 43, sass/base.scss */
#header-wrapper {
  height: 135px;
  background: #2F94B2;
  text-align: center;
}
/* line 47, sass/base.scss */
#header-wrapper h2 {
  padding-top: 20px;
}

/* line 52, sass/base.scss */
#carousel-container {
  background: #FF739C;
  height: 200px;
}

/* line 59, sass/base.scss */
.page {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background: #eaeaea;
}
/* line 12, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
.page:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 68, sass/base.scss */
.col-main > .widget {
  clear: both;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 1.69492%;
}

/* line 74, sass/base.scss */
#header-wrapper,
#carousel-container,
.main-container,
.footer-before-container {
  clear: both;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  clear: both;
  display: block;
  margin-bottom: 1.69492%;
}

/* line 84, sass/base.scss */
.footer-before-container {
  background: #5DD9FF;
  text-align: center;
  padding: 20px;
  height: 100px;
}

/* line 93, sass/base.scss */
.banner-boxes > div {
  width: 23.72881%;
  float: left;
  background: #CCC136;
  height: 100px;
}
/* line 66, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/susy-2.1.3/sass/susy/language/susy/_gallery.scss */
.banner-boxes > div:nth-child(4n + 1) {
  margin-left: 0;
  margin-right: -100%;
  clear: both;
  margin-left: 0;
}
/* line 66, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/susy-2.1.3/sass/susy/language/susy/_gallery.scss */
.banner-boxes > div:nth-child(4n + 2) {
  margin-left: 25.42373%;
  margin-right: -100%;
  clear: none;
}
/* line 66, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/susy-2.1.3/sass/susy/language/susy/_gallery.scss */
.banner-boxes > div:nth-child(4n + 3) {
  margin-left: 50.84746%;
  margin-right: -100%;
  clear: none;
}
/* line 66, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/susy-2.1.3/sass/susy/language/susy/_gallery.scss */
.banner-boxes > div:nth-child(4n + 4) {
  margin-left: 76.27119%;
  margin-right: -100%;
  clear: none;
}

/* line 100, sass/base.scss */
.products-grid {
  margin-left: 0;
  padding-left: 0;
}
/* line 103, sass/base.scss */
.products-grid > li {
  width: 16.66667%;
  float: left;
  margin-right: 4.16667%;
  height: 100px;
  list-style-type: none;
  background: #2F94B2;
}
/* line 108, sass/base.scss */
.products-grid > li:nth-child(5) {
  float: right;
  margin-right: 0;
}

/* line 115, sass/base.scss */
.brand-boxes > div {
  width: 11.76471%;
  float: left;
  margin-right: 2.94118%;
  height: 100px;
  background: #5DD9FF;
}
/* line 119, sass/base.scss */
.brand-boxes > div:nth-child(7) {
  float: right;
  margin-right: 0;
}

/* line 127, sass/base.scss */
.bottom-container > div {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
  padding: 20px;
  background: #CCC136;
}
/* line 131, sass/base.scss */
.bottom-container > div:nth-child(4) {
  float: right;
  margin-right: 0;
}

/* line 139, sass/base.scss */
.copyrights-block ul > li {
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
  padding: 10px 0;
  list-style-type: none;
}
/* line 143, sass/base.scss */
.copyrights-block ul > li:nth-child(2) {
  float: right;
  margin-right: 0;
}

/* line 150, sass/base.scss */
.col-wrapper, .sidebar {
  background: #dddddd;
  margin-bottom: 1.69492%;
}

/* line 155, sass/base.scss */
.sidebar {
  height: 717px;
}

/* line 162, sass/base.scss */
.col-wrapper {
  width: 83.05085%;
  float: left;
  margin-right: 1.69492%;
  overflow: hidden;
  *zoom: 1;
}
/* line 165, sass/base.scss */
.col-wrapper .col-left {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
  height: 200px;
  background: orange;
  display: block;
}
/* line 170, sass/base.scss */
.col-wrapper .col-left.col-left-first {
  height: 500px;
}
/* line 173, sass/base.scss */
.col-wrapper .col-left:not(.col-left-first) {
  clear: left;
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
  margin-bottom: 0;
}
/* line 179, sass/base.scss */
.col-wrapper .col-main {
  width: 74.57627%;
  float: right;
  margin-right: 0;
  background: orange;
  height: 717px;
}

/* line 189, sass/base.scss */
.col-right {
  width: 15.25424%;
  float: right;
  margin-right: 0;
}
